// Grid & row setup
.l-row,
.l-grid {
    @include row;

    &--homeEditor {
        @include row(16px, 16px, 16px, 16px, 16px);
    }

    &--sm {
        @include row(16px, 16px, 16px, 16px, 16px);

        .l-col,
        [class^='l-col:'] {
            @include col-padding(16px, 16px, 16px, 16px, 16px);
        }
    }

    &--noGapBot {
        margin-bottom: 0 !important;

        .l-col,
        [class^='l-col:'] {
            margin-bottom: 0 !important;
        }
    }

    &--noGaps {
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;

        > .l-col,
        > [class^='l-col:'] {
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-bottom: 0 !important;
        }
    }

    &--photoAnswers {
        margin-right: 0.5em !important;
        margin-left: 0px !important;
        margin-bottom: 0.5em !important;

        > .l-col,
        > [class^='l-col:'] {
            padding-right: 0.5em !important;
            padding-left: 0px !important;
            margin-bottom: 0.5em !important;
        }
    }
}

// Col setup
.l-col,
[class^='l-col:'] {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    @include col-padding;
}

// Cols sizes
.l-col {
    // Default (all breakpoints)
    &\:1 {
        @include col(1);
    }
    &\:2 {
        @include col(2);
    }
    &\:3 {
        @include col(3);
    }
    &\:4 {
        @include col(4);
    }
    &\:5 {
        @include col(5);
    }
    &\:6 {
        @include col(6);
    }
    &\:7 {
        @include col(7);
    }
    &\:8 {
        @include col(8);
    }
    &\:9 {
        @include col(9);
    }
    &\:10 {
        @include col(10);
    }
    &\:11 {
        @include col(11);
    }
    &\:12 {
        @include col(12);
    }
}

// Large
.lg\:1 {
    @include col(1);
}
.lg\:2 {
    @include col(2);
}
.lg\:3 {
    @include col(3);
}
.lg\:4 {
    @include col(4);
}
.lg\:5 {
    @include col(5);
}
.lg\:6 {
    @include col(6);
}
.lg\:7 {
    @include col(7);
}
.lg\:8 {
    @include col(8);
}
.lg\:9 {
    @include col(9);
}
.lg\:10 {
    @include col(10);
}
.lg\:11 {
    @include col(11);
}
.lg\:12 {
    @include col(12);
}

// Medium
@media (max-width: $break-md) {
    .md\:2 {
        @include col(2);
    }
    .md\:3 {
        @include col(3);
    }
    .md\:4 {
        @include col(4);
    }
    .md\:6 {
        @include col(6);
    }
    .md\:8 {
        @include col(8);
    }
    .md\:9 {
        @include col(9);
    }
    .md\:10 {
        @include col(10);
    }
    .md\:12 {
        @include col(12);
    }
}

// Small
@media (max-width: $break-sm) {
    .sm\:4 {
        @include col(4);
    }
    .sm\:6 {
        @include col(6);
    }
    .sm\:8 {
        @include col(8);
    }
    .sm\:12 {
        @include col(12);
    }
}

// Smallest
@media (max-width: $break-xs) {
    .xs\:4 {
        @include col(4);
    }
    .xs\:6 {
        @include col(6);
    }
    .xs\:8 {
        @include col(8);
    }
    .xs\:12 {
        @include col(12);
    }
}

// Break & hr col
.l-col--break,
.l-break {
    width: 100%;
    flex: 0 0 100%;
    justify-content: center;
    display: flex;

    hr {
        margin: 0;
        border-top-width: 1px;
    }
}
