.c-searchResultMovies {
  &__card {
    display: flex;
    background-color: #10161d !important;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;

    @include bp('sm') {
      padding: 0;
    }


    &_actionButton {
      &--favorite {
        color: red;
        font-size: 2rem !important;

        @include bp('sm') {
          font-size: 1.5rem !important;
        }
      }

      &--notFavorite {
        color: #d5d5d5;
        opacity: 0.7;
        font-size: 2rem !important;

        @include bp('sm') {
          font-size: 1.5rem !important;
        }
      }
    }

    &_content {
      padding-left: 0 !important;
    }

    &_image {
      height: 450px;

      @include bp('sm') {
        height: 200px;
      }
    }

    &_title {
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 1.25rem !important;

      @include bp('sm') {
        padding-left: 5px;
        font-size: 1rem !important;
      }
    }
  }
}